{%extends '../../base.html'%}

{%block title%}Add Books{%endblock%}

{%block content%}
<h2>Add New Book</h2>

<form method="post">
    {%csrf_token%}

    {%for field in form%}
        {{field}}
    {%endfor%}
    <datalist id="authorsList">
        {%for author in authorList%}
        <option>{{author.name}}</option>        
        {%endfor%}
    </datalist>

    <datalist id="genreList">
        {%for genre in genreList%}
        <option>{{genre.genre}}</option>        
        {%endfor%}
    </datalist>

    <button type="submit">Submit</button>
</form>
<!--<script src="/static/js/multipleDatalist.js"></script>-->
<!--        Remove in production        -->
<div id="out"></div>

<script>
const authDataList = document.querySelector('#authorsList');
const authInp = document.querySelector('#authors');
const optionsEle = document.querySelectorAll('#authorsList option');

const genreInp = document.querySelector('#genre');
const genreDataList = document.querySelector('#genreList');
const genreOptionsEle = document.querySelectorAll('#genreList option');

let authOptionsList = [];
for (let i of optionsEle){
    authOptionsList.push(i.value);
}

let genreOptionsList = [];
for (let i of genreOptionsEle){
    genreOptionsList.push(i.value);
}

authInp.addEventListener('keyup', function(){
    let inpText = authInp.value;
    prefix = generatePrefix(inpText);
    updateDataList(prefix, authDataList, authOptionsList);
})

genreInp.addEventListener('keyup', function(){
    let inpText = genreInp.value;
    prefix = generatePrefix(inpText);
    updateDataList(prefix, genreDataList, genreOptionsList);
})


function updateDataList(prefix, dataList, optionsList){
    dataList.innerHTML = '';
    for (let i of optionsList){
        let newOption = document.createElement('option');
        newOption.textContent = prefix + ', ' + i;
        if (newOption.textContent[0] === ','){
            newOption.textContent = newOption.textContent.substring(2, newOption.textContent.length);
        }
        dataList.appendChild(newOption);
    }
}

function generatePrefix(inpText){
    inpText.trim();
    let authorList = inpText.split(',');
    authorList = authorList.slice(0, authorList.length-1);
    prefix = authorList.join(',');
    return prefix;
}

</script>
<!--        End of remove in production         -->
{%endblock%}

{%block scripts%}
{%endblock%}