{%extends '../../base.html'%}

{%block title%}Book List{%endblock%}

{% block content %}
<h2>Book List</h2>
{%if bookList%}
    <table>
        <tr>
            <th>Sl. No.</th>
            <th>Book</th>
            <th>Author(s)</th>
            <th>Genre</th>
        </tr>
        {%for book in bookList%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{book.title}}</td>
            <td>
                <ul>
                    {%for author in book.authors.all%}
                    <li>{{author.name}}</li>
                    {%endfor%}
                </ul>
            </td>
            <td>
                <ul>
                    {%for genre in book.genre.all%}
                    <li>{{genre.genre}}</li>
                    {%endfor%}
                </ul>
            </td>
        </tr>
        {%endfor%}
    </table>

{% else %}
    <p>LMS has no record of any books</p>
{% endif %}
{%endblock%}